fastapi 
uvicorn 
gitpython 
faiss-cpu
sentence-transformers 
langchain 
langchain-openai
openai 
python-dotenv 
tiktoken
GitPython
gpt4all
chromadb
langchain_google_genai
langchain
langchain-community
opentelemetry-sdk
opentelemetry-api
google.generativeai
streamlit